services:
  db:
    image: postgres:16
    container_name: prato_certo_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: prato_certo_app
    restart: always
    ports:
      - "${APP_PORT}:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/usr/src/app          
      - /usr/src/app/node_modules 
    command: npm run start:dev  

volumes:
  postgres_data: